:root {
    --background-color: #000000;
    --text-color: #ffffff;
    --alt-background-color: #1f1f1f;
    --inside-padding: 15px;
    --link-hightlight: #8d7cff;
    --link-hightlightTrans: #8d7cff40;
    --uniMargin: 2vh;
    --priBorRad: 20px;
    --transitionTime: .3s;
}
